<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <title th:text="${title}"></title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <header th:replace="~{fragments/header :: navigation}"></header>
    <main>
        <div class="container">
            <h1 th:text="${title}"></h1>
            <br><br><br>
        
            <form action="" th:action="@{/carrito/form}" th:object="${carrito}" method="post">
                <div class="form-floating mb-3">
                    <div class="mb-3">
                        <label for="" class="form-label">Cliente</label>
                        <select class="form-select form-select-lg" th:field="*{idCliente}">
                            <option th:each="cliente:${cliente}" th:value="${cliente.id}" 
                                th:text="${cliente.nombre + ' ' + cliente.apellido}">
                            </option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label">Producto</label>
                        <select class="form-select form-select-lg" th:field="*{idProducto}">
                            <option th:each="producto:${producto}" th:value="${producto.id}" 
                                th:text="${producto.nombre + '/' + producto.descripcion}">
                            </option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label">Cantidad</label>
                        <input type="number" class="form-control" th:field="*{cantidad}" />
                    </div>


                </div>


                <button type="submit" class="btn btn-primary">Agregar al Carrito</button>

            </form>
            <br>
		<div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-9">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="factura:${factura}">
                                        <td th:text="${factura.id}"></td>
                                        <td th:text="${factura.producto.nombre}"></td>
                                        <td th:text="${factura.producto.descripcion}"></td>
                                        <td th:text="${factura.cantidad}"></td>
                                        <td th:text="${factura.valor}"></td>
                                        <td><a th:href="@{'/factura/eliminar/' + ${factura.id}+ '/' +${encabezado.idCliente}}" class="btn btn-danger">Quitar</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-lg-3">
                            <h3 class="card-title">Descuento</h3>
                            <ul class="list-group" >
                            <form action="#" th:action="@{/descuento}">
                                <li class="list-group-item" >
                                        <input hidden id="idEncabezado" type="text" class="list-group-item" th:value="${encabezado.id}" name="idEncabezado">
                                        <input hidden id="idCliente" type="text" class="list-group-item" th:value="${encabezado.idCliente}" name="idCliente">
                                        <input id="descuento" type="text" class="list-group-item" th:value="${encabezado.descuento}" name="descuento">
                                    
                                </li>
                                <button type="submit" class="btn btn-dark" style="width: 297.6px;">Validar descuento</button>
                            </form>
                            </ul>
                            <br>
                            <h2 class="card-title">SUBTOTAL</h2>

                            <ul class="list-group">
                                <li class="list-group-item"><h5 th:text="${encabezado.subTotal}"></h5></li>
                                <a th:href="@{/order}" class="btn btn-dark">Ver Orden</a>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        </div>




    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>