<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light mask-custom shadow-0" th:fragment="navigation">
        <div class="container"><img th:src="@{/images/spring_boot.webp}" width="200"></a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/getCart}">Carrito</a>
                    </li>
                    <div th:if="${rol == 'Admin' || rol == 'Admin Clientes'}">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/cliente/listar}">Clientes</a>
                        </li>
                    </div>
                    <div th:if="${rol == 'Admin' || rol == 'Admin Productos'}">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/producto/listar}">Productos</a>
                        </li>
                    </div>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/facturas/listar}">Facturas</a>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex flex-row">
                    <li class="nav-item me-3 me-lg-0 dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-person-circle" style="color: black;" th:text="${fullname}"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item btn" data-bs-toggle="modal" data-bs-target="#user_info_modal"
                                    th:text="${rol}"></a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item btn" th:href="@{/auth/logout}">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->

</body>

</html>